@model IEnumerable<StarShop.Models.Panier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.somme)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbrProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.somme)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPanier }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPanier }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPanier })
        </td>
    </tr>
}

</table>
